// ======================
// =====Variables========
// ======================

$black: #181719;
$white: #fff;
$grey: #828282;

// Fonts
$f1-font-family: 'Crimson Pro',
serif;
$f2-font-family: 'Lora',
serif;
$f3-font-family: 'Montserrat',
sans-serif;
